
@{
    ViewBag.Title = "Admin";
}

@Styles.Render("~/Content/admin.css")

<h2 style="color:white; font-family:'Segoe UI Emoji'">Admin</h2>

<div class="box-2">
    <div class="btn btn-two">
        <span><a href="" style="text-decoration:none">Administración de productos</a></span>
    </div>
</div>
<div class="box-2">
    <div class="btn btn-two">
        <span><a href="" style="text-decoration:none">Administración de Categorias</a></span>
    </div>
</div>
<div class="box-2">
    <div class="btn btn-two">
        <span><a href="" style="text-decoration:none">Administración de Métodos de pago</a></span>
    </div>
</div>
<div class="box-2">
    <div class="btn btn-two">
        <span><a href="" style="text-decoration:none">Salir</a></span>
    </div>
</div>

