@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="display: flex; flex-direction: row; ">
        <h1 style="padding-right:30px; font-family:Impact">Tienda Online</h1>
        <p style="padding:30px; padding-top:50px">En esta tienda encontrar excelentes productos electrónicos a buen precio y en tus marcas favoritas</p>
        <img src="~/Content/Imagenes/Orion.jpeg" style="width:350px" />
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>HP</h2>
        <p style="text-align:justify">
            Somos una empresa que se dedica a la venta de productos electrónicos de diferentes marcas
            con precios excelentes. Uno de ellos es HP que cuenta con múltiples productos de calidad.
            Para redirigirse a la página oficial de la empresa de clic en Más información
        </p>
        <p><a class="btn btn-default" href="https://www.hp.com/ec-es/home.html">Más información&raquo;</a></p> <br />
        <div style="display:flex; justify-content:center">
            <img src="~/Content/Imagenes/HP.png" style="width:250px" />
        </div>

    </div>
    <div class="col-md-4">
        <h2>Logitech</h2>
        <p style="text-align:justify">
            Logitech es una empresa multimarca
            que diseña productos que unen a las personas a través de la música, los juegos, el video y la computación.
            Entre las marcas de la empresa están Logitech, Logitech G, ASTRO Gaming, Ultimate Ears, entre otros.
        </p>
        <p><a class="btn btn-default" href="https://www.logitech.com/es-roam">Más información &raquo;</a></p> <br />
        <div style="display:flex; justify-content:center">
            <img src="~/Content/Imagenes/Logitech.png" style="width:250px;" />
        </div>

    </div>
    <div class="col-md-4">
        <h2>Apple</h2>
        <p style="text-align:justify">
            Apple es una prominente empresa de hardware
            y software conocida por su serie de computadoras personales, el iPod y sus innovadoras estrategias de
            marketing para sus productos. Su producto estrella es el Iphone el cual cuenta con 13 versiones actualmente
        </p>
        <p><a class="btn btn-default" href="https://www.apple.com/la/">Más información &raquo;</a></p>
        <div style="display:flex; justify-content:center">
            <img src="~/Content/Imagenes/Apple.png" style="width:250px;" />
        </div>
    </div>
</div>


<br />
<br />

<br />
<br />
<div class="jumbotron">
    <h2 style="font-family:Impact">Galeria de Imagenes</h2>
    <br />
    <div style="display: flex; flex-direction: row; ">
        <div style="display:flex; justify-content:center">
            <img src="~/Content/Imagenes/persona.png" style="width:500px;" />
        </div>
        <div style="display:flex; justify-content:center">
            <img src="~/Content/Imagenes/persona1.png" style="width:500px;" />
        </div>
    </div>
    <div style="display: flex; flex-direction: row; ">
        <div style="display:flex; justify-content:center">
            <img src="~/Content/Imagenes/persona2.png" style="width:500px;" />
        </div>
        <div style="display:flex; justify-content:center">
            <img src="~/Content/Imagenes/persona3.png" style="width:500px;" />
        </div>
    </div>


</div>